<nav class="navbar navbar-dark bg-primary mb-5">
	<a href="/" class="navbar-brand">
		Blog
	</a>

	<ul class="navbar-nav me-lg-auto">
		<li class="nav-item">
			<a href="/admin/categories" class="nav-link">Categorias</a>
		</li>
	</ul>
</nav>