<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>

<div class="container">
	<form action="/admin/users/save" method="post">
		<div class="card">
			<div class="card-header">
				<h2>Cadastro de Usuário</h2>
			</div>
			<div class="card-body">
				<div class="mb-3">
					<label for="name">Nome</label>
					<input type="text" name="name" id="name" class="form-control">
				</div>
				<div class="mb-3">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" class="form-control">
				</div>
				<div class="mb-3">
					<label for="password">Senha</label>
					<input type="password" name="password" id="password" class="form-control">
				</div>
			</div>
			<div class="card-footer">
				<button type="submit" class="btn btn-success">Salvar</button>
			</div>
		</div>
	</form>
</div>

<%- include('../../partials/footer') %>